@import "utils";

.apartment {
  &__headline {
    margin: 0 0 10px;
  }

  &__info {
    margin-bottom: 66px;
  }

  &__entire {
    @include indentReset;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    color: #687c94;
    margin-bottom: 15px;
  }

  &__props {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    justify-content: start;
  }

  &__prop {
    list-style: none;
  }

  &__description {
    margin: 28px 0 44px;
    line-height: 24px;
  }

  &__link-bold {
    @include link;
    @include linkTransform;
    display: inline-block;
    margin-top: 28px;
  }

  &__amenity-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
  }

  &__amenity {
    list-style: none;
  }

  &__host {
    margin-bottom: 88px;

    @media (max-width: 490px) {
      margin-bottom: 20px;
    }
  }

  &__host-name {
    margin: 0 0 10px;
  }

  &__place {
    @include fontStyleSmall;
    font-style: normal;
  }

  &__place-description {
    margin: 20px 0;
  }

  &__button {
    display: block;
    width: 150px;
    font-weight: 900;
    text-decoration: none;
    color: $hoverColor;
    border: 1px solid $hoverColor;
    box-sizing: border-box;
    border-radius: 4px;

    @media (max-width: 490px) {
      margin: auto;
    }

    &:hover {
      color: #fff;
      background-color: $hoverColor;
      border: 1px solid $hoverColor;
    }
  }
}
