@import "utils";

.nav {
  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
    justify-content: end;

    @media (max-width: 640px) {
      column-gap: 20px;
      justify-content: center;
      font-size: 13px;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    @include link;
    @include linkTransform;
  }
}
